.button{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background: #ECC367;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: -10px 10px 50px rgba(120, 227, 186, 0.5);
    border-radius: 200px;
}
.text{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}